
.nav_menu{
    display: inline;
    color: red;
}

.navbar{
    background-color: cadetblue !important;
}

.nav-item{
    direction: none;
    color:lightskyblue;
}

.nav-item:hover{
    color:floralwhite;
}